mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-sm-auto
					+e.polite(href="#") политика конфиденциальности
				.col-sm-auto разработка сайта – 
					+e.dev(href="#") ishmetov
