.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call-answer {
	font-size:(348.1/10)*1rem;
	width:(348.1/348.1)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-check-symbol {
	font-size:(448.8/10)*1rem;
	width:(448.8/448.8)*1em;
}
.icon-close {
	font-size:(47.97/10)*1rem;
	width:(47.97/47.97)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-left-down {
	font-size:(31.5/10)*1rem;
	width:(31.5/31.5)*1em;
}
.icon-list-menu {
	font-size:(344.339/10)*1rem;
	width:(344.339/344.339)*1em;
}
.icon-mnu-1 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mnu-2 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mnu-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mnu-4 {
	font-size:(489.2/10)*1rem;
	width:(489.2/489.2)*1em;
}
