
mixin modal() 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title--js
				p Заполните форму, мы&nbsp;свяжемся с&nbsp;Вами сразу как получим вашу заявку.
			+input("Введите имя",'text','','name')(required) 
			+input("+_(___)-___-__-__","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.BUTTON.btn(type="submit") 
			+polite()
		// #modal-call
	
		
		+b.form-wrap(id="modal-thanks" class="  modal-win modal-form" )
			.text-center
				+e.title спасибо за обращение
				p Мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время.
		// #modal-thanks
	