.s-best {
	position: relative;
	z-index: 2;
	&.visible{
		&::before{
			content: '';
			position: absolute;
			@include media-breakpoint-up(xxl)  {
				
				// width: rem(293);
				// width: rem(293);
				max-width:   calc(100% - #{rem(293)}); 
			}
			@include media-breakpoint-up(xl) { 
				max-width:   calc(100% - #{rem(293*.85)});
			}
		 
			@include media-breakpoint-down(sm)  {
				right: 0;
				width: 100%;
				top: 0;
				height: 100%;
				z-index: -1;
			opacity: 0.3;
			background-image: url(../img/@2x/best-bg--mob.jpg);
			@include bgs;
		}
		}
	}
	// .picture-bg{
	// 	opacity: 0.1;
	// }
	background-color: $body-color;
	color: #ffffff; 
		 background-color: $body-color;
		 @include media-breakpoint-up(xl)  {

			 padding-top: rem(110);
			 padding-bottom: rem(125 - 36);
			}
		 .row{
			 align-items: center;
		 }
		 .section-title{
			@include media-breakpoint-up(md) {

				max-width: rem(440);
			}
			 margin-bottom: 0;
		 }
		 &__text{
			font-size: $em-base;
			font-weight: 700;
			color: $primary;
		 }
		 &__btn{
			 @extend .btn;
			 @extend .btn-outline-primary;
			 @extend .btn-lg;
			 color: #ffffff;
			 width: rem(263);
			 margin-top: rem(50);
			 margin-bottom: rem(38);
		 }
		 &__text-wrap{
			//  padding-top: rem(50);
			 max-width: rem(580);
			 @include media-breakpoint-up(xxl) {

				 padding-left: rem(20);
				}
		 }
		 p{
			line-height: 2;
			margin-bottom: rem(38);
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		h2{
			text-align: center;
		}
		&__text{
			margin-left: auto;
			margin-right: auto;
			max-width: rem(300);
		}
		padding-top: rem(130 / 2);
		padding-bottom: rem(80 / 2); 
	}
	@include media-breakpoint-down(xs) {} 

}



.video-fallback {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: -2;
	-webkit-background-size: cover;
	background-size: cover;
}
.video-container {
	position: absolute;
	overflow: hidden;
	z-index: -2;
	width: 100%;
	height: 100%;
right: 0;
	top: 0;
	@include media-breakpoint-up(xxl)  {
				
		// width: rem(293);
		// width: rem(293);
		max-width:   calc(100% - #{rem(293)}); 
	}
	@include media-breakpoint-up(xl) { 
		max-width:   calc(100% - #{rem(293*.85)});
	}
}
.fillItUp {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}