mixin top-line()
	// start .top-line
	+b.top-line
		.container(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * 1.5 * 1.2}s`)
			.row
				.col-md-auto.col-3.d-xl-none
					+b.toggle-menu-mobile--js
						span
				+e.logo.col.d-md-none
					a(href="/")
						+icon('korona') 
				.text-right.col-md-auto.col-3
					+link-tel()
						+icon("call-answer")
				.col-auto.d-none.d-xl-block
					+e.btn.link-modal(href="#modal-call" data-title="Заказать звонок" data-btn="Заказать звонок" data-order="Заказать звонок") Заказать звонок
	// end .top-line