body.fixed{
  .top-line{

  }
}
.top-line {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  @include media-breakpoint-up(xl) {
    
    z-index: 990;
  }
  z-index: 1001;
  text-align: center;
  font-family: "Text Book",   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  @include mt;
  @include media-breakpoint-up(xxl) {

    margin-top: rem(60);
  }
  @include media-breakpoint-up(md) {

    margin-top: rem(40);
    padding-top: 0;
  }
  padding-top: rem(5);
  padding-bottom: rem(5);
  .row{
    align-items: center;
    @include media-breakpoint-up(xl) {

      justify-content: flex-end;
    }
    justify-content: space-between;
  }

  .link-tel{
    // color: #ffffff !important;
    font-size: $small;
    font-weight: 700;
    line-height: 2.63;
    text-transform: uppercase; 
    letter-spacing: rem(1.28px);
    text-decoration: none !important;
    @include media-breakpoint-down(sm) {
      // text-indent: 1000px;
      // font-size: 0;
      span{
        display: none;
      }
      .icon{
        // display: block;
        display: inline-block;
      }
    }
    .icon{
      font-size: 15px;
      display: none;
    }
  }
  &__btn{
    @extend .btn;
    @extend .btn-outline-primary;
    width: rem(210);
  }

 
  // a{
  //   color: $body-color !important;
  // }
    a{
      color: #ffffff !important;
    }
  &.background--light {
    @include media-breakpoint-up(md) {
    a{

        color: $body-color !important;
      }
      .toggle-menu-mobile{
        span,
        span::before,
        span::after{
          background-color: $body-color;
        }
      }
    }
  }
 
  
  &.background--primary {
    @include media-breakpoint-up(md) {
    a{

        color: $body-color !important;
      }
      .top-line__btn{
        border: 2px solid #ffffff !important;
        &:hover{
          // border: 2px solid #ffffff;
          background-color: #ffffff;
        }
      }
      .toggle-menu-mobile{
        span,
        span::before,
        span::after{
          background-color: $body-color;
        }
      }
    }
  }
 
  
	&__logo{
    img{
//       width: 30px;
// height: 26px;
    }
    .icon{
      font-size: 26px;
      color: $primary;
    }
  }
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {
  &.fixed{
    background-color:  $body-color;
  }
}

@include media-breakpoint-down(xs) {}
}

.fixed .fixed{
  background-color: transparent;
}